html {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.btn {
  border: 1px solid rgba(0,0,0,0.2);
}
.btn:focus{
  border: none;
}
.task-table td {
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
}

.fa-times {
  -webkit-text-stroke: 2px white;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #777;
}
.fa-times:hover {
  color: #000;
}

.fa-pencil {
  color: #777;
}
.fa-pencil:hover {
  color: #000;
}
